apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app2-deployment
  name: app2-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - image: maddou/my-app-node:v1.0
        name: app2
        imagePullPolicy: Always
        ports:
        - containerPort: 3000