apiVersion: v1
kind: Service
metadata:
  labels:
    app: app1-service
  name: app1-service
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
    nodePort: 30001
  selector:
    app: app1
  type: NodePort
status:
  loadBalancer: {}