apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app3-deployment
  name: app3-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app3
  template:
    metadata:
      labels:
        app: app3
    spec:
      containers:
      - image: maddou/my-app-node:v1.0
        name: app3
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources: {}
status: {}