apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: inception-of-thinks-p3
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/marouaneaddou/myapp-gitops.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
